body{
  font-family: sans-serif !important;
  background-image: url("../Images/wallpaperprincipal.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.claseRegistroAdminUser{
  padding: 0 !important;
}

.formUserAdmin{
  padding: .5em;
  text-align: left; 
}

.butonLupita{
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}

.campoinputMostrarpost{
  width: 49% !important;
  display: inline-block !important;
}


.mensajeErrorPost{
  display: inline-block;
  padding: .5em;
  background: #f90707ba;
  color: white;
  border-radius: 5px;
}

.mensajeExitosoPost{
  display: inline-block;
  padding: .5em;
  background: #00990dba;
  color: white;
  border-radius: 5px;
}

.nombreres {
  display: inline-block !important;
  width: 49% !important;
  
}

.formularioPostularRegister{
  padding-left: 2em;
  padding-right: 2em;
}
.apellidoes {
  display: inline-block !important;
  width: 49% !important;
}

.dropddowncerrar{
  color: black !important;
}

.TituloVisualizar{
  margin-bottom: 1em !important ;
}

.menu{
  background: white;
  border-radius: 5px;
  width: 18%;
  height: 40em;
  margin-left: 5px;
  padding-top: 20px;
  display: inline-block;
  box-shadow: 1px 1px 12px -1px black;
}

.texto-Nombre{
  display: none;
}

.mVisualizacion{
  vertical-align: top;
}

.ticketDiv{
  display: inline-block !important;
  vertical-align: top;
  background: white;
  border-radius: 5px;
  width: 35%;
  height: 85%;
  margin-left: 5px;
  padding-top: 20px;
  animation: entradagenerarTicket 1s;
}

@keyframes entradagenerarTicket{
  from{ 
    opacity: 0;
    height: 50%;
  }
  to {
    opacity: 1;
    height: 85%;
  }
}

.formularioGenerar{
  text-align: center;
}

.formularioDiv{
  background: white;
  border-radius: 5px;
  width: 50%;
  height: 95%;
  margin-left: 5px;
  padding-top: 20px;
  display: inline-block;
}

.botonGenerar{
  border: none;
  padding: .8em;
  box-shadow: 0px 4px 7px -6px black;
}


.efectoentradaMenu{
  animation: entradaMenu 1s;
}

@keyframes entradaMenu2{
  from{ 
    opacity: 0;
    height: 20em;
  }
  to {
    opacity: 1;
    height: 40em;
  }
}

@keyframes entradaMenu{
  from{ 
    opacity: 0;
    height: 50%;
  }
  to {
    opacity: 1;
    height: 95%;
  }
}

.button1{
  width: 100%;
  border:none;
  padding: 0.5em;
  margin-bottom: 5px;
}



/* EXAMPLE 6 - Background Logo*/
.example6 .navbar-brand { 
  background: url(../Images/logo.jpg) center / contain no-repeat;
  width: 200px;
}

.logoMenu{
  background-image: url(../Images/logo.jpg) ;
  background-repeat: no-repeat;
  width: 200px;
  padding: .5em;
}

.example6{
  box-shadow: -3px -5px 11px 1px black;
  margin-bottom: 0 !important;
  background: white;
}

.hovernavbar{
  color: black;
  transition: all .2s;
}

.hovernavbar:hover{
  color: #376bff;
  background: gray;
}

.fondoUniversidad{
  width: 100%;
  padding: .5em;
}



/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 transform-style: preserve-3d;
 height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}




.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}


/* formulario */


.login {
  width: 400px;
  margin: 16px auto;
  margin-top:0;
  font-size: 16px;
  padding-top: 4%;
  animation: fadeDown 1s;
}

@keyframes fadeDown{
  from{
    padding-top: 0%; 
  }
  to{
    padding-top: 4%;
  }
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #ea1d03;
}
.login-header {
  background: #bf2a17;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.divbotonesiniciarsesion{
  text-align: center;                   
}

.pinput{
  display: inline-block;
}

.claseOcultar{
  display: none;
  opacity: 0;
  animation: fadeOut 1s;
}

@keyframes fadeOut{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.BotonRegistrarse{
  background-color: red;
}
.mostrar{
  display: block;
  opacity: 1;
  animation: fadeIn 1s;
}
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #bf2a17;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all .2s;
}

.login input[type="submit"]:hover {
  background:#98281a;
}

.entrada{
  animation: fadeIn 1s;
}


.login a{
  background: #bf2a17;
  padding: 1.17em;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all .2s;
}

.login a:hover {
  background:#98281a;
  color: white !important;
  text-decoration: none;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
.formConvocatoria{
  margin-left: 6%;
  text-align: center;
  margin-right: 6%;
}

.registroConvocatoria{
  width: 50%;
  background: white;
  border-radius: 5px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  height: 95%;
  padding: .5em;
}